body{
    background-color: #f7d9da;
    font-size: 14px;
    text-align: justify;
    text-indent: 2em;
}
#page{
    background-color: #f9c5c8;
    box-shadow: 5px 1px 15px #fd8787;
    border-radius: 6px;
    height: 1000px;
    width: 550px;
    margin: auto;
    top: px;
    font-size: 17px;
}
.pageline{
    height: 10px;
}

.line{
    height: 2%;
    visibility: none;
}
.line1{
    margin-left: 8%;
}
.text{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.line2{
    text-align: right;
    margin-right: 5%;
}

#btn{
    text-align: center;
    margin-top: 2%;
}
.btn{
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #ff5757;
    border-radius: 4px;
    color: #ff5757;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}
.btn:hover{
    background-color: #fc9d9d;
    color: #a10000;
}