body{
    background-color: #f7d9da;
}
.pageline{
    height: 10px;
}
#page{
    text-align: center;
}

#btn{
    text-align: center;
    margin-top: 2%;
}
.btn{
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #ff5757;
    border-radius: 4px;
    color: #ff5757;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}
.btn:hover{
    background-color: #fc9d9d;
    color: #a10000;
}